{% extends 'layout.html' %}

{% block content %}
<div class="content well">
    <input class="input-block-level" type="text" placeholder="#标签 成就的简单描述 金额(整数)">

    <ul id="bonus-list" class="nav nav-list">
        <li><a href="#"><span class="label label-success">python</span><span>content ..</span><span class="badge badge-success pull-right">5</span></a></li>
        <li><a href="#"><span class="label label-success">python</span><span>content ..</span><span class="badge badge-success pull-right">5</span></a></li>
        <li><a href="#"><span class="label label-success">python</span><span>content ..</span><span class="badge badge-success pull-right">5</span></a></li>
        <li><a href="#"><span class="label label-success">python</span><span>content ..</span><span class="badge badge-success pull-right">5</span></a></li>
        <li><a href="#"><span class="label label-success">python</span><span>content ..</span><span class="badge badge-success pull-right">5</span></a></li>
    </ul>
</div>
{% endblock %}
