{%- import '_helpers.html' as t -%}
<!doctype html>
<html ng-app="piggyBankApp">
    <head>
        <meta charset="utf-8" />
        {{ t.css('css/bootstrap.min.css') }}
        {{ t.css('css/application.css') }}
        <script type="text/javascript">
            function url_for(endpoint) {
                return '{{ request.url_root }}' + endpoint;
            }
        </script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">小猪存钱罐</a>
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div>        

        {{ t.js('js/jquery-2.0.2.min.js') }}
        {{ t.js('js/angular.min.js') }}
        {{ t.js('js/application.js') }}
    </body>
</html>
